{% extends 'base.html' %}

{% block content %}
<div class="container">
  <select class="browser-default">
    <option value="" disabled selected>Wybierz historie</option>
    <option value="1">Cel</option>
    <option value="2">Wydatki</option>
    <option value="3">Zobowiązania</option>
    <option value="4">Skarbonka</option>
  </select>

    <div class="dateto">
        <form method="POST">
            {% csrf_token %}
            <label>Od</label>
            <br/>
            <input type="date" name="datef" required>
            <br/>
            <br/>
            <label>Do</label>
            <input type="date" name="datet" required>
            <br/>
            <button class="btn waves-effect waves-light" type="Submit">Wybierz
        <i class="material-icons right">send</i>
            </button>
    </div>

{% if value == 1 %}
<div class="container">
    <div class="striped">
        <table>
            <thead>
            <tr>
                <th>Data</th>
                <th>Suma</th>
            </tr>
            </thead>
            <tbody>
            {% for goal in goal_history %}
            <tr>
                <td>{{ goal.date }}</td>
                <td>{{ goal.cel }} zł</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</form>
{% endif %}
<div class="container">
    <div class="striped">
        <table>
            <thead>
            <tr>
                <th>Tydzień</th>
                <th>Suma</th>
            </tr>
            </thead>
            <tbody>

            {% for outgoing in outgoings_history %}
            <tr>
                <td>{{ outgoing.tydzien }}</td>
                <td>{{ outgoing.razem }} zł</td>
            {% endfor %}

                {% for obligation in obligations_history %}
            <tr>
                <td>{{ obligation.tydzien }}</td>
                <td>{{ obligation.razem }} zł</td>
            {% endfor %}

                {% for moneybox in moneybox_history %}
            <tr>
                <td>{{ moneybox.tydzien }}</td>
                <td>{{ moneybox.razem }} zł</td>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}