{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="container">
        {% csrf_token %}
        <h5>Dodaj Zobowiązania</h5>
        {{ form.as_p }}
        <br>
        <button class="btn waves-effect waves-light" type="Submit">Dodaj
        <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<div class="container">
    {% for obligation in obligations_display %}
        <h4>{{ obligation.kategoria|capfirst }}</h4>
        <h4>{{ obligation.kwota }}</h4>
        <p>{{ obligation.date }}</p>
    {% endfor %}
</div>
{% endblock %}